.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    background-color: #EAE6E5;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.header__left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header__left > img {
    width: 50px;
    object-fit: contain;
}

.header__leftInformation{
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.header__leftInformation > h3{
    padding-bottom: 8px;
    color: #5B9279;
}

.header__leftInformation > p {
    color: #12130F;
}

.header__center {
    display: flex;
    justify-content: center;
    flex: 1;
}

.header__centerButtons{
    display: flex;
    align-items: center;
    padding: 5px 30px;
    
}

.header__centerButtons > .MuiSvgIcon-root{
    color: #5B9279;
}

.header__centerButtons:hover{
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
}

.header__centerButtons:hover > .MuiSvgIcon-root{
    color: #2e81f4;
}

.header_right {
    display: flex;
    align-items: center;
}

.header_right > h3 {
    font-weight: 500;
    font-size: 20px;
    margin-left: 8px;
}