.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    background-color: #EAE6E5;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.header__left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header__left > img {
    width: 50px;
    object-fit: contain;
}

.header__leftInformation{
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.header__leftInformation > h3{
    padding-bottom: 8px;
    color: #5B9279;
}

.header__leftInformation > p {
    color: #12130F;
}

.header__center {
    display: flex;
    justify-content: center;
    flex: 1;
}

.header__centerButtons{
    display: flex;
    align-items: center;
    padding: 5px 30px;
    
}

.header__centerButtons > .MuiSvgIcon-root{
    color: #5B9279;
}

.header__centerButtons:hover{
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
}

button {
    border: none;
    background-color: inherit;
    outline: inherit;
    cursor: pointer;
}

.buttonActiveByPath {
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
}

.header__centerButtons:hover > .MuiSvgIcon-root{
    color: #12130F !important;
}

.header_right {
    display: flex;
    align-items: center;
}

.header_right > h3 {
    font-weight: 500;
    font-size: 20px;
    margin-left: 8px;
}

/* Modal settings */
.container{
    display: flex;
    flex-direction: column;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    color: lightgray;
    background-color: lightgray;
}

.modal__inputVal {
   display: flex;
   align-items: center;
   margin-top: 16px;
}

.modal__inputVal > h3 {
    color: #8F8073;
    margin-right: 16px;
}

.modal__inputIptChange > input {
    border: none;
    background-color: transparent;
    outline: none;
    width: 100%;
}

.modal__inputIptChange {
    background-color: #eff2f5;
    padding: 10px;
    border-radius: 999px;
    width: 100%;
}

.modal__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}

.modal__closeBtn{
    margin-top: 16px;
    padding: 10px 40px;
    border-radius: 999px;
    background-color: #af5d4a;
}

.modal__saveBtn {
    margin-top: 16px;
    padding: 10px 40px;
    border-radius: 999px;
    background-color: #5B9279;
}

.modal__inputType {
    margin-top: 16px;
}

.modal__inputType > h3 {
    color: #8F8073;
}

.modal__Types {
    display: flex;
}

.type {
    display: flex;
    align-items: center;
}

.modal__datePicker {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.modal__datePicker > h3 {
    color: #8F8073;
    margin-right: 16px;
}

.modal__datePicker > input{
    padding: 8px;
}