.home {
  display: flex;
  height: 90vh;
}

.home__left {
  flex: 0.6;
}

.home__graphs {
  display: flex;
  padding: 34px;
}

.home__leftGraphOne {
  height: 80vh;
  width: 60vw;
}

.home__right {
  flex: 0.4;
  overflow: scroll;
}

.home__rightListOfThings {
  display: flex;
  flex-direction: column;
  padding: 24px;
}
